.login__title {
    font-size: 50px;
    font-weight: bold;
    color: darkgray;
    text-align: center;
    margin-top: 5rem;
}

.login__subtitle {
    font-size: 15px;
    color: darkgray;
    text-align: center;
    display: block;
}

.login {
    padding-top: 5rem;
    text-align: center;
    padding-bottom: 1rem;
}

.email {
    border-radius: 0.4rem;
    color: black;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 1rem;
    padding-left: 2rem;
}

.password {
    border-radius: 0.4rem;
    color: black;
    background-color: white; 
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.login__button {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 0.25rem;
    color: white;
    background-color: rgb(90, 89, 89);
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 1rem;
    box-shadow: inset 0 0 0 3px rgba(10, 10, 10, 0.433);
}

.register {
    font-size:x-small;
    font-weight: lighter;
    text-align: center;
}