.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: auto;
	background-color: black;
}

.nav {
	height: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 1rem;
}

.nav__logo,
.nav__toggle {
	color: darkgray;
	font-weight: bold;
}

.nav__list {
	display: flex;
	column-gap: 2rem;
}

.nav__link {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: smaller;
	color: darkgray;
	font-weight: bolder;
	transition: 0.3s;
}

.nav__icon,
.nav__close,
.nav__toggle {
	display: none;
}

/* Active Link */
.active-link,
.nav__link:hover {
	color: white;
}

/* Animation for Sign Out Button */
#signbutton {
	outline: 0;
}

#signedStatus {
	opacity: 0;
}

#signedStatus.show {
	animation: slideFadeIn 0.3s ease-out forwards;
}

@keyframes slideFadeIn {
	0% {
		opacity: 0;
		transform: translateY(-100px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* ===================== BREAKPOINTS ===================== */

/*   For Medium Devices   */
@media screen and (max-width: 768px) {
	.header {
		top: initial;
		bottom: 0;
	}

	.nav {
		height: 5rem;
	}

	.nav__menu {
		position: fixed;
		bottom: -100%;
		left: 0;
		width: 100%;
		background-color: black;
		padding: 2rem 1.5rem 4rem;
		box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
		border-radius: 1.5rem 1.5rem 0 0;
		transition: 0.3s;
	}

	/* Show Menu */
	.show-menu {
		bottom: 0;
	}

	.nav__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
	}

	.van__icon {
		font-size: 1.2rem;
	}

	.nav__close {
		position: absolute;
		right: 1.3rem;
		bottom: 0.5rem;
		font-size: 1.5rem;
		cursor: pointer;
		color: darkgray;
	}

	.nav__close:hover {
		color: white;
	}

	.nav__toggle {
		font-size: 1.1rem;
		cursor: pointer;
	}

	.nav__icon,
	.nav__close,
	.nav__toggle {
		display: block;
	}
}

/*   For Small Devices   */
@media screen and (max-width: 350px) {
	.nav__menu {
		padding: 2rem 0.25rem 4rem;
	}

	.nav__list {
		column-gap: 0;
	}
}
